<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shandong.culture.manager.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.shandong.culture.manager.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="topics" jdbcType="VARCHAR" property="topics" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" />
    <result column="lable" jdbcType="VARCHAR" property="lable" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.shandong.culture.manager.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    context
  </sql>
</mapper>